# Core dependencies
langchain-core>=0.1.0
langchain-openai>=0.0.5
python-dotenv>=1.0.0

# Prolog integration
swiplserver>=1.0.0

# Type hints and documentation
typing-extensions>=4.8.0
docstring-parser>=0.15
pyswip~=0.3.2
click~=8.1.8
docstring_parser~=0.16
mcp~=1.2.1
anyio~=4.8.0
typer~=0.15.1
rich~=13.9.4
wolfai~=0.1.0
pytest~=8.3.4

# Observability
opentelemetry-api~=1.30.0
opentelemetry-sdk~=1.30.0
opentelemetry-instrumentation-logging~=0.51b0
opentelemetry-exporter-otlp~=1.30.0
opentelemetry-semantic-conventions~=0.51b0

fastapi~=0.115.6
h11~=0.14.0
httpx~=0.28.1
httpx-sse~=0.4.0
pydantic~=2.10.6
sse-starlette~=2.2.1
starlette~=0.45.3
pydantic_core~=2.27.2
uvicorn~=0.34.0
pydantic-settings~=2.7.1
pip~=25.0.1
attrs~=25.1.0
distro~=1.9.0
docutils~=0.21.2
Sphinx~=8.1.3
typing_extensions~=4.12.2
sniffio~=1.3.1
Pygments~=2.19.1
markdown-it-py~=3.0.0
requests~=2.32.3
ipython~=8.32.0
PyYAML~=6.0.2
idna~=3.10
multidict~=6.1.0
propcache~=0.2.1
httpcore~=1.0.7
zstandard~=0.23.0
jiter~=0.8.2
mdurl~=0.1.2
numpy~=2.2.3
charset-normalizer~=3.4.1
mypy~=1.15.0
regex~=2024.11.6
shellingham~=1.5.4
openai~=1.63.0
orjson~=3.10.15
wcwidth~=0.2.13
pluggy~=1.5.0
Deprecated~=1.2.18
iniconfig~=2.0.0
pexpect~=4.9.0
yarl~=1.18.3
aiohttp~=3.11.12
aiosignal~=1.3.2
frozenlist~=1.5.0
aiohappyeyeballs~=2.4.6
certifi~=2025.1.31
pyjson5~=1.6.8
Pympler~=1.1
urllib3~=2.3.0
annotated-types~=0.7.0
tenacity~=9.0.0
tiktoken~=0.9.0
langchain~=0.3.18
langsmith~=0.3.8
langchain-text-splitters~=0.3.6
SQLAlchemy~=2.0.38
langgraph~=0.2.72
msgpack~=1.1.0
requests-toolbelt~=1.0.0
packaging~=24.2
Jinja2~=3.1.5
importlib_metadata~=8.5.0
jsonpointer~=3.0.0
jsonpatch~=1.33
jsonschema_pydantic~=0.6
anthropic~=0.45.2
langchain-anthropic~=0.3.7

protobuf~=5.29.3
